<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">誕生日</th>
            <td class="table__col2"><%= @user.birthday %></td>
          </tr>
           <tr>
            <th class="table__col1">メールアドレス</th>
            <td class="table__col2"><%= @user.email%></td>
          </tr>
          <%= link_to "編集", edit_user_registration_path,class: :nav__logout %>
        </tbody>
      </table>
    </div>
  </div>
</div> 