<div class="messages">
<h2 class="top-message text-center "><%= @home.category.name %>、お疲れ様です</h2>

<div class="message-left col-xs-6">
  <% if @home.feel_id == 2 %>

    <% @message1_a.each do |message| %>
      <%= message.name %>
    <% end %>
  <% else %>
    <% @message1_b.each do |message| %>
      <%= message.name %>
    <% end %>
  <% end %> 

  <% if @home.feel_id == 2 %>
    <% @message2_a.each do |message| %>
      <%= message.name %>
    <% end %>
  <% else %>
    <% @message2_b.each do |message| %>
      <%= message.name %>
    <% end %>
  <% end %> 

  <% if @home.feel_id == 2 %>
    <% @message3_a.each do |message| %>
      <%= message.name %>
    <% end %>
  <% else %>
    <% @message3_b.each do |message| %>
      <%= message.name %>
    <% end %>
  <% end %>   

  <% @words.each do |word| %>
    <p><%= word.name %></p>
  <% end %>
<% else %>
<% @words.each do |word| %>
    <p><%= word.name %></p>
  <% end %>
<% end %> 
</div>


